body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #E6F3F9;
}

#logo img {
    display: block;
    width: 60%;
    margin: auto;
    border: solid 5px #3f4344;
}

header {
    width: 25%;
    float: left;
    font-family: "Khand", sans-serif;
}

h1 {
    font-family: "Khand", sans-serif;
    text-align: center;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}
nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #4a5275;
    padding: 0.5em 1em;
    text-decoration: none;
}


main {
    clear: left;
    background-color: #E6F3F9;
    padding: 2%;
    font-size: 1.25em;
    text-align: center;
}


article {
    margin-top: 1%;
    padding: 2%;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #4a5275;
    padding: 0 1em;
}

footer p a {
    color: #4a5275;
    text-decoration: none;
}

#stay dt {
    font-weight: bold;
    font-family: "Khand", sans-serif;
    text-align: center;
}

#stay dd {
    padding: 0.5% 1% 2% 0;
}

#contact {
    text-align: center;
}

#contact a {
    color: #3f4344;
    text-decoration: none;
}


/*media query*/
@media screen and (min-width:650px), print {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    input [type="checkbox"]:not(:checked)+ul {
        display: none;
    }
    
    nav label {
        text-align: right;
        display: block;
        padding: 0.5em;
        line-height: 1.5em;
        align-self: center;
    }

}



/*desktop viewport*/
@media screen and (min-width: 1024px), print {

    .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
    
    }

    nav input[type="checkbox"], nav label {
        display: none;
        }
}

